body{
    background-color: rgb(203, 208, 216);
}

.menu{
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.container{
    height: 300px;
    width: 300px;
}

.options{
    height: 300px;
    width: 300px;
}

.render-section{
    display: flex;
    justify-content: space-around;
}